td {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-image: url('../images/652dcf52adb7fa2e6c26ed2900a47a98.jpg');
  }
  
  #me {
  background-image: url('../images/RoguePlayer.png');
  background-size: cover;
  height: 120px;
  width: 68px;
  }